{% extends 'base.html.twig' %}

{% block title %}Hello PortfolioController!{% endblock %}

{% block body %}
    <div class="container">
        {% set img = categorie.produits|last %}
        <h1>{{ categorie.nom }}</h1>
        <p>{{ categorie.description }}</p>
        {% for produit in produits %}
            <div class="card" style="width: 18rem;">
                <img src="{{ produit.file }}" class="card-img-top" alt="...">
            </div>
        {% endfor %}
    </div>
{% endblock %}
